<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/styles.css" rel = "stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>   <!-- <script type="text/javascript" th:src="@{/index.js}"></script> -->
</head>
<body>
     
   <div class = "container">
<h1>Blog Page</h1>
    
<form action="/submit-blog" method="post">
    <label>Author Name </label>
    <input type="text" placeholder="Enter your Author name" name ="authname" required>

<br>
    <label>Blog Title </label>
    <input type="text" placeholder="Enter your Blog Title" name ="blogname" required>
<br>
    <label>Blog Content </label>
    <input type="text" placeholder="Enter your Blog Content" name="blogdes" required> 
<br>
    <label>Date</label>
    <input type ="date" class="dateField" name="createddt" readonly>
<br>
<input type = "submit" value="Submit">



</form>
</div>
<script>
var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); 
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;

    
    var dateFields = document.getElementsByClassName("dateField"); 
    for (var i = 0; i < dateFields.length; i++) {
        dateFields[i].value = today;
    }
</script>   
</body>
</html>