<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href = "css/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Blog</title> 
</head>
<body>
    <div class="reg-form">
        <h1>Account Registration</h1>
        <form action="" method="">
            <label>Email</label>
            <input type="text" placeholder="Enter your Email id" name="">
            <br>
            <label>User Name</label>
            <input type="text" placeholder="Enter your username" name="">
            <br>
        </form>
    </div>
</body>
</html>